#recipeCard {
  border-radius: 15px;
  height: auto;
  width: 300px;
  margin-top: 1rem;
}

#recipeCategory {
  position: relative;
}

#seeFullRecipe {
 background: rgb(22,25,73);
 justify-content: center;
}

#linkP {
 font-size: 15pt;
 color: white;
 font-family: 'Quicksand', sans-serif;
}

#recipeImg{
  display: block;
  width: 260px;
  height: 260px;
}

#recipeHeader {
  font-family: 'Quicksand', sans-serif;
}

.far.fa-heart.not-red-heart {
  position: absolute;
  right: 1em;
  top: 1em;
  color: black;
}

.fas.fa-heart.red-heart {
  position: absolute;
  right: 1em;
  top: 1em;
  color: red;
}







