.card {
  border-radius: 2px;
  height: auto;
  width: 300px;
  margin-top: 1rem;
}

.card-header {
  position: relative;
}

.far {
  position: absolute;
  right: 1em;
  top: 1em;
}

.fas {
  position: absolute;
  right: 1em;
  top: 1em;
}
