.card {
  border-radius: 2px;
  height: auto;
  width: 300px;
  margin-top: 1rem;
}

.card-header {
  position: relative;
}

.far.fa-heart.not-red-heart {
  position: absolute;
  right: 1em;
  top: 1em;
  color: black;
}

.fas.fa-heart.red-heart {
  position: absolute;
  right: 1em;
  top: 1em;
  color: red;
}

#seeFullRecipe {
 background: rgb(22,25,73);
 color: rgb(173,175,192);
 font-family: 'Raleway', sans-serif; 
}

#recipeImg{
  display: block;
  width: 260px;
  height: 260px;
}

#recipeHeader {
  font-family: 'Raleway', sans-serif; 
}

#recipeCard {
  border-radius: 15px;
}

