#searchContainer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#searchJumbotron {
    background: rgb(22,25,73);
    border-radius: 15px 50px;
}

h1, h2 {
    color: rgb(173,175,192);
}

h1 {
    font-size: 40pt;
    text-shadow: 2px 2px 4px black;
}

h2 {
    font-size: 30pt;
    text-shadow: 2px 2px 4px black;
}

#recipeRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form {
    display: block;
    align-content: center;
}

#searchIngred {
    margin: 2.5pt;
    background: rgb(173,175,192);
    color: rgb(22,25,73);
    font-family: 'Raleway', sans-serif; 

}

#searchInput {
    margin: 2.5pt;
}

#recipeH1, #recipeh2 {
    font-family: 'Raleway', sans-serif; 
} 
