#searchContainer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#searchJumbotron {
    color: white;
    background-color: rgb(173,175,192);
    border-radius: 15px 50px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#searchRowText, #textSearchRow {
    font-family: 'Unica One', cursive; 
}

#recipeH1Row {
    font-size: 40pt;
    text-shadow: 2px 2px 4px black;
    color: white;
}

#recipeH2Row {
    font-size: 30pt;
    text-shadow: 2px 2px 4px black;
    color: white;
}

#recipeRow {
    flex-direction: row;
    flex-wrap: wrap;
}

form {
    display: block;
    align-content: center;
}

#searchIngred {
    margin: 2.5pt;
    background: rgb(22,25,73);
    color: rgb(173,175,192);
    font-family: 'Raleway', sans-serif; 

}

#searchInput {
    margin: 2.5pt;
}

