.card {
    border-radius: 2px;
    height: 400px;
    width: 400px;
    margin: 1rem 0rem;
}

.title-holder {
  height: 2em;
  padding-bottom: 1em;
}

ul {
  list-style-type: none;
}

#price {
  text-align: center;
}

#alcoholName {
  text-align: center;
}

#alcoholImage {
  height: 100%;
  width: 100%;
}


.fa-box {
  font-size: 50px;
}

.fa-box-open {
  font-size: 50px;
}

.border-success {
  border: 5px double;
  box-shadow: 5px 10px green;
}


