/* #alcoholListItemCol {
  height: 300px;
  width: 300px;
} */

#alcoholCard {
  border-radius: 15px;  
  height: 300px;
  width: 250px;
  margin: 1rem;
}

#alcoholCategory {
  position: relative;
}

#alcoholName {
  height: 2em;
  padding-bottom: 1em;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}

ul {
  list-style-type: none;
}

#price {
  text-align: center;
}

#alcoholDescription {
  font-family: 'Dancing Script', cursive;
  color: rgb(149,149,151);
  font-size: 18px;
}

#alcoholImage {
  height: 100%;
  width: 100%;
}

.border-dark {
  border: 5px double;
  box-shadow: 5px 10px rgb(22,25,73);
}



