.card {
    border-radius: 25%;
    height: 400px;
    width: 400px;
    margin: 1rem;
}

.title-holder {
  height: 2em;
  padding-bottom: 1em;
}

ul {
  list-style-type: none;
}

#price {
  text-align: center;
}

#alcoholName {
  text-align: center;
}

#alcoholDescription {
  font-family: 'Dancing Script', cursive;
  color: rgb(149,149,151);
  font-size: 18px;
}

#alcoholImage {
  height: 100%;
  width: 100%;
}

.border-dark {
  border: 5px double;
  box-shadow: 5px 10px rgb(22,25,73);
}

#alcoholName {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
}


