#alcoholShoppingCartJumbotron {
    color: white;
    background-color: rgb(173,175,192);
    border-radius: 15px 50px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#shoppingCartJumbotronTitle {
    font-family: 'Unica One', cursive;
    font-size: 80px;
}

#totalAmountTitle {
    font-family: 'Unica One', cursive;
    font-size: 50px;
}

#placeOrderButton {
    font-family: 'Unica One', cursive;
    border: rgb(173,175,192) 2px solid;
    color: rgb(173,175,192);
    background-color: rgb(22,25,73);
    width: 200px;
    height: 50px;
    font-size: 20px;
}

#totalAmountSum {
    font-family: 'Unica One', cursive;  
    font-size: 50px;
}