#userProfilePage {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#userProfileJumbo {
  color: white;
  background-color: rgb(173,175,192);
  border-radius: 15px 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif; 
}

#userProfileColRight {
  font-size: 20pt;
}

#userPictureDiv {
  height: auto;
}

#userPicture {
  width: 150px;
  background-color: none;
  height: 150px;
  background-color: none;
  border-radius: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#userOverlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  opacity: 0;
  transition: .5s ease;
  background-color: none;
  border: none;
}

#userPictureDiv:hover #userOverlay {
  opacity: 1;
  border: none;
}

#userProfilePhotoBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
