/* ============================================== */
/* FOOTER */
footer {
    width: 100%;
    height: 50px;
    clear: both;
  } 

  .fa-facebook, .fa-twitter, .fa-instagram, .fa-google-plus {
    color: rgb(149,149,151);
  }
  /*End of FOOTER*/
  /* ============================================== */