/* ============================================== */
/* FOOTER */
footer {
    width: 100%;
    height: 50px;
    clear: both;
  } 
  /*End of FOOTER*/
  /* ============================================== */