#searchContainer {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.jumbotron {
    background: rgb(22,25,73);
}

h1, h2 {
    color: rgb(173,175,192);
}

h1 {
    font-size: 40pt;
    text-shadow: 2px 2px 4px black;
}

h2 {
    font-size: 30pt;
    text-shadow: 2px 2px 4px black;
}

#recipeRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form {
    display: block;
    align-content: center;
}

#search {
    margin: 5pt;
    background: rgb(173,175,192);;
    border-radius: 5%;
    color: rgb(22,25,73);
}