/* font-family: 'Quicksand', sans-serif;
font-family: 'Dancing Script', cursive; */
#shoppingcartAlcoholImage {
    height: 200px;
    width: 150px;
}

#alcoholShoppingCartJumbotron {
    font-family: 'Quicksand', sans-serif;
}