#aboutContainer {
  padding-left: 5%;
  padding-right: 5%;
}

.hero {
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.hero::after {
  display: block;
  opacity: .5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hero * {
  position: relative;
  z-index: 2;
}

.hero h1, .hero h2 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.hero h1 {
  font-size: 60px;
  padding-top: 140px;
  margin-top: 0;
}

/* ============================================= */

.fa-github, .fa-linkedin {
  margin: 3%;
  font-size: 20pt;
  color: black;
}

.developer-image {
  position: relative;
  width: 100%;
}

#devImgLink {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0860AC;
}

.developer-image:hover .overlay {
  opacity: 1;
}

#devText {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#devCard {
  height: 400px;
  width: 400px;
  /* float: right; */
  margin: 5px;
} 


