#aboutPageh1 {
    color: #0860AC;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  p {
    font-family: 'Montserrat', sans-serif;
    font-weight: light;
    line-height: 1.8;
  }
  #missionRow {
    margin: 20%, 20%, 20%, 20%;
    padding: 20%, 20%, 20%, 20%;
  }
  .developer-image {
    position: relative;
    width: 100%;
  }
  #devImgLink {
    display: block;
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0860AC;
  }
  .developer-image:hover .overlay {
    opacity: 1;
  }
  #devText {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }